.header {
    text-align: center;
}

h2{
    font-weight: 700;
    font-size: 32px;
    letter-spacing:-2px;
    margin-bottom:30px;
}

.sigmalogo{
    display: block;
    width: 205px; height: 72px;
    margin: 50px auto 35px;
}

p{
    color:#777576;
    font-size: 16.5px;
    line-height: normal;
    letter-spacing:normal;
}
